


* {
    box-sizing: border-box;
}



body {
    padding-left: 10px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200;
    overflow: hidden;
    margin: 0;
}

.header{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px;
    width: 600px;
    /*height: 250px; */
    padding: 25px;
}

h3{
    padding: 1rem;
    text-align: center;
    margin: 0;
}

#buttonDiv {
   text-align: center;
}

#container {
    border: solid 4px;
    border-image-source: linear-gradient(to bottom right, #f78ae0, #6638f0);
    border-image-slice: 4;
    border-radius: 30px;
    margin-top: 10px;
}

#startBtn {
    background-image: linear-gradient(to right, #6638f0 , #f78ae0)
}

#startBtn {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.8s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
    display: block;
    border:1px solid #FFFFFF;
}
button:hover {
    background-position: right center; /* change the direction of the change here*/
    color: #fff;
    text-decoration: none;
}





