


* {
    box-sizing: border-box;
}



body {
    padding-left: 10px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200;
    overflow: hidden;
    margin: 0;
}

.header{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px;
    width: 600px;
    /*height: 250px; */
    padding: 25px;
}

h3{
    padding: 1rem;
    text-align: center;
    margin: 0;
}

#buttonDiv {
   text-align: center;
}





